* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #000;
  overflow-x: hidden;
}

.section-hero {
  background-color: #ffffff;
  padding: 8rem 25rem;
  font-size: 3rem;
}

.name {
  font-size: 6.5rem;
  font-weight: 700;
  color: #126796;
}

.title,
.name,
.summary h3,
.summary h1,
.summary p,
.bridam h1 {
  margin-bottom: 1.5rem;
}

.title {
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 9.6rem;
  align-items: center;
}

.stroke-horizontal {
  height: 0.5rem;
  background-color: #126796;
  margin-bottom: 3.5rem;
}

.summary h3 {
  color: #126796;
  font-size: 3rem;
}
.summary h1 {
  color: #126796;
  font-size: 3rem;
  font-weight: 700;
}

.summary p {
  line-height: 1.5;
  font-size: 2.5rem;
  color: #686868;
  padding: 0rem 2rem;
}

.note {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.7rem;
}

.note a {
  font-family: "Josefin Sans", sans-serif;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  color: #126796;
}

.work {
  font-size: 4.5rem;
  font-weight: 700;
  color: #126796;
  margin-bottom: 3.5rem;
}

.bridam {
  padding: 0rem 4rem;
}
.bridam h1 {
  color: #000;
}

.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space h3 {
  color: #000;
}
